
.flowers-item {
    margin-bottom: 30px;
    position: relative;
}

.flowers-item .img-box img {
    width: 100%;
    border-radius: 5px;
}

.flowers-item .link {
    color: var(--black-70);
    display: inline;
}

.flowers-item .title {
    text-transform: capitalize;
    margin: 15px 0;
    transition: color .3s ease;
}

.flowers-item:hover .title {
    color: var(--main-color);
}

.flowers-item .rating {
    font-size: 14px;
}

.flowers-item .average-rating {
    font-weight: 600;
    color: var(--orange);
}

.flowers-item .average-stars i {
    color: var(--orange);
}

.flowers-item .price {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: var(--main-color);
    color: var(--WHITE);
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 4px;
}