.header {
    border-bottom: 1px solid var(--border-color-2);
}

.header-logo a {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--black-70);
}

.header-logo span {
    color: var(--main-color);
}

.header .menu-item {
    display: inline-block;
    margin-left: 40px;
    position: relative;
}

.header .menu-item>a {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    color: var(--black-90);
    text-transform: capitalize;
    transition: color .3 ease;
}


.header .sub-menu-item a:hover,
.header .menu-item:hover>a {
    color: var(--main-color);
}


.header .menu-item>a i {
    font-size: 13px;
    margin-left: 3px;
    pointer-events: none;
    transition: transform .3s ease;
}

.header .sub-menu {
    position: absolute;
    top: 100%;
    background-color: var(--white);
    left: 0;
    width: 210px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: all .3s ease;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
}

@media (min-width: 992px) {
    .header .menu-item:hover>.sub-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.header .sub-menu-item a {
    display: block;
    padding: 10px 20px;
    color: var(--black-90);
    text-transform: capitalize;
    font-weight: 400;
    transition: color .3s ease;
}

.header-backdrop,
.header-close-btn,
.header-hamburger-btn {
    display: none;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


